body {
  font-family: Arial, sans-serif;
}

textarea {
  width: 300px;
  height: 200px;
}

.player {
  border: 1px solid #333;
  padding: 4px 8px;
  margin: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.winner {
  background-color: red;
  color: white;
}

.round {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

line.winner-line {
  stroke: red;
  stroke-width: 2;
}
